.Topmenu
{
  background-color: grey;
  text-align: right;
}
.icone
{
  width: 1.5em;
  vertical-align: middle;
}
.Google
{
  background-color: red;
  width: 500px;
  margin: auto;
}
.logo
{
  width: 270px;

}
footer
{
background-color: grey;
}

.menuLeft
{
  background-color: pink;
}

.menuRight
{
  background-color: pink;
}

hmtl,body
{
  margin: 0;
  padding: 0;
}

li{
  display: inline-block;
  margin-right: 3px;
}
