hmtl,body
{
  padding: 0;
  margin: 0;
  font-size: small
}
.icone
{
  width: 30px
}

li
{
  display: inline-block;
  margin-right: 10px;
}
ul
{
  text-align: right;
  margin-bottom: 100px;
}
.Google
{
  width: 500px;
margin: auto;
}
.logo
{
  width: 350px;
  margin: auto;
  display: block;
}

input[type=text]{
  width: 450px;
  margin: auto;
  display: block;
}
.input
{
  width: 150px;
  margin: auto;
  margin-top: 17px;
  margin-right: -43px;
  margin-left: 73px;
}
.text
{
  text-align: center;
  margin-top: 25px;
}

footer
{
  bottom: 0;
  width: 100%
}

footer ul
{display:inline-block;
  width: 52%;
}
